%nav.footer.navbar-inverse.clearfix{role: 'navigation'}
  .container
    .navbar-header.copyright &copy; Copyright 2015. All rights reserved
    %ul.nav.navbar-nav.pull-right
      %li
        %a{href: 'javascript:void(0)', title: 'About us'} About us
      %li
        %a{href: 'javascript:void(0)', title: 'How it works'} How it works
      %li
        %a{href: 'javascript:void(0)', title: 'Users'} Contact us
      %li
        %a{href: 'javascript:void(0)', title: 'Doctors'} Help